.banner .auto-size {
	background-color:#fff;
}

#li {
	color: #fff;
}

#li.active {
	background-color:#2c3e50;
}

.language-name {
	display: none;
}

.banner {
	background-color: #1795ca;
}

.sidebar-version-list {
    display: block;
    text-align: center;
    font-size: 16px;
}

.sidebar-version-list a {
    color: #aeb2b7;
    margin-left: 4px;
    margin-right: 4px;
}

.sidebar-version-list a:hover {
    color: #1795ca;
    text-decoration: none;
}

.sidebar-version-list a:focus {
    color: white;
}

.sidebar-version-list-active {
    color: white !important;
    font-weight: 700;
}

.req-parameter-mandatory {
    font-weight: bold;
}